{% extends 'base.html' %}
{% load static %}

{% block content %}
    <table class="table table-stripped">
        <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Date of birth</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody>
        {% for author in author_list %}
            <tr>
                <td>{{ author.first_name }}</td>
                <td>{{ author.last_name }}</td>
                <td>{{ author.date_of_birth }}</td>
                <td><a href="{{ author.get_absolute_url }}">Detail</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'includes/pagination.html' %}

{% endblock %}

